@import './common/reset.scss';
@import './common/header.scss';
@import './common/btn.scss';
@import './common/footer.scss';
body {
    background: #f6f8fa;
}

.g-container {
    width: 1000px;
    margin: 40px auto;
    background: #fff;
    padding: 0;
    margin-top: 121px;
    .help-block {
        padding: 46px 80px 30px 54px;
        border-bottom: 1px solid #eee;
        .title {
            font-size: 24px;
            font-weight: lighter;
            line-height: 24px;
            margin-bottom: 24px;
            color: #444;
        }
        .info {
            font-size: 16px;
            font-weight: lighter;
            color: #6d6d70;
            line-height: 28px;
        }
        &.last {
            border-bottom: none;
        }
    }
}
