header {
    background-color: #ffffff;
    border-bottom: 1px solid #f0f2f5;
    width: 100%;
    &.fixed {
        position: fixed;
        z-index: 999;
        top: 0;
    }
    .logo {
        background: url(../../images/index/nav-logo.png) no-repeat 0 0;
        width: 90px;
        height: 80px;
    }
    .nav-item {
        float: left;
        font-size: 18px;
        color: #6b6d70;
        height: 80px;
        line-height: 80px;
        margin-right: 64px;
        text-align: center;
        &:hover, &.active {
            color: #b88259;
        }
    }
    .btn {
        float: right;
        margin-top: 19px;
    }
}
