@import "../libs/scss/reset.scss";
@import "../libs/scss/g_icon.scss";
@import "../libs/scss/css3-mixins.scss";
@import "../mods/header.scss";
@import "../mods/btn.scss";


.g-top-banner {
    background: url('../../src/img/index/head-background-1.png') repeat 0 0;
    padding-top: 60px;
    text-align: center;
    img {
        margin-bottom: 118px;
    }
    p {
        font-size: 20px;
        line-height: 22px;
        color: #fff;
        letter-spacing: 6px;
        font-style: italic;
        font-weight: lighter;
        margin-bottom: 45px;
    }
    .btn {
        margin-bottom: 155px;
    }

}
header {
    margin-bottom: 110px;
}

h2 {
    font-size: 34px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 48px;
    line-height: 36px;
    &.f-bold {
        font-weight: bold;
    }
}
ol.nav-bg {
    background: url('../../src/img/index/pic-changjing.png') no-repeat 0 0;
    width: 1250px;
    height: 115px;
    margin-bottom: 120px;
    li {
        float: left;
        width: 414px;
        text-align: center;
        font-size: 28px;
        line-height: 115px;
        color: #fff;
        font-weight: bold;
    }
}
.info-wrapper {
    background: url('../../src/img/index/pic-service.png') no-repeat 0 0;
    background-size: 100%;
    height: 526px;
    margin-bottom: 120px;
}

.title-line {
    display: block;
    height: 4px;
    width: 50px;
    margin: 42px auto 33px auto;
    background: #d88259;
}
.carousel-wrapper {
    p {
        font-size: 16px;
        color: #85878a;
        font-weight: lighter;
        line-height: 38px;
        margin-bottom: 29px;
        text-align: center;
    }
    .carousel-nav {
        margin: 0 auto 44px auto;
        text-align: center;
        width: 698px;
        a {
            width: 72px;
            height: 25px;
            display: block;
            float: left;
            line-height: 25px;
            color: #6d6d70;
            font-size: 14px;
            font-weight: lighter;
            border: 1px solid #d1d1d1;
            margin-right: 4px;
            background: #fff;
            text-align: center;
            &:hover, &.active {
                color: #fff;
                background: #333;
            }
            &.last {
                margin: 0;
            }
        }
    }
}
